@import "tailwindcss";

@theme {
  --color-primary: #0D6EFD;
  --color-background-light: #F8F9FA;
 
  --color-card-light: #FFFFFF;
 
  --color-text-light: #212529;
  
  --color-subtext-light: #6C757D;

  --color-border-light: #DEE2E6;
 

  --font-display: "Inter", sans-serif;
  --radius-default: 0.5rem;
}

.high-contrast {
  background-color: black !important;
  color: white !important;
}

.high-contrast a {
  color: yellow !important;
}

.high-contrast button, .high-contrast input, .high-contrast select, .high-contrast textarea {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
}

.high-contrast div, .high-contrast main, .high-contrast header, .high-contrast footer, .high-contrast section, .high-contrast article, .high-contrast aside {
    background-color: black !important;
    color: white !important;
}
